#top-bar {
  padding-top: 16px;
  padding-bottom: 16px;
  color: #0B1E42 !important;
  border-bottom: 1px solid #BABABA;
  box-shadow: none !important;
}

#top-bar .dropdown-toggle:after {
  /*content: none;*/
}

.p-14 {
  font-size: 14px;
}

.dropdown-item.p-14 {
}

.roboto {
  font-family: Roboto, sans-serif !important;
}

#top-bar .dropdown .dropdown-menu.show {
  min-width: 76px;
  border: 0.5px solid #6458A2;
  border-radius: 0px;
  left: -80% !important;
}

#top-bar .dropdown {
  padding-right: 28px;
}

.p-16 {
  font-size: 16px;
}

.exo {
  font-family: 'Exo';
}

#main-navbar.navbar-light .navbar-nav .nav-link {
  font-family: 'Exo';
  color: #0B1E42;
  font-weight: bold;
  text-transform: uppercase;
  padding: 27px 23.5px 17px 23.5px;
  border-bottom: 4px solid transparent;
  transition: border-bottom-color 2s;
  font-size: 14px;
}

#main-navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
}

#main-navbar.navbar-light .navbar-nav .nav-link:hover {
  border-bottom-color: #6458A2;
}

#main-navbar .hover-state {
  position: absolute;
  width: 100%;
  background: white;
  left: 0;
  top: 100%;
  box-shadow: 0px 12px 6px #00000019;
  border-top: 1px solid #00000019;
  padding-top: 38px;
  padding-bottom: 50px;
  color: #000000;
  z-index: 100;
}

.poppins {
  font-family: Poppins, sans-serif;
}

.p-13 {
  font-size: 13px;
}

#header {
  height: 540px;
  background: url("../../assets/img/UI%20banner@2x.png") top right / cover no-repeat;
  letter-spacing: 0px;
}

@media (max-width: 575px) {
  #header h1 {
    font-size: 27px;
    text-transform: uppercase;
    margin-bottom: 20px;
    background-color: rgba(255,255,255,0.27);
  }
}

.btn:not(:disabled):not(.disabled) {
}

.p-18 {
  font-size: 18px;
}

#header a {
  color: white;
  background-color: #6458A2;
  padding: 13px 15px !important;
  border-radius: 4px;
  height: 47px;
  width: 151px;
  text-align: left;
  transition: background-color 2s;
}

#header a:hover {
  background-color: #0B1E42 !important;
}

.p-20 {
  font-size: 20px;
}

.purple-text {
  color: #6458A2;
}

.form-control {
  height: 45px;
  border: 1px solid #BABABA;
  border-radius: 0px;
  color: #2e2e2e;
  padding-left: 14px;
}

.form-control:focus {
  border: 1px solid #0B1E42;
  box-shadow: none;
}

#signUpModal a.register-btn:hover, #loginUpModal a.register-btn:hover {
  background-color: #0B1E42 !important;
  color: white;
}

#signUpModal a.register-btn, #loginUpModal a.register-btn {
  background-color: #6458A2;
  color: white;
  height: 47px;
}

#home-categories {
  padding-top: 60px;
  padding-bottom: 130px;
}

.cat-divs {
  height: 180px;
  border-radius: 5px;
  transition: height 1s;
  margin-bottom: 20px;
}

.clothing-cat-div {
  background: #8AAEF2;
}

.JEWELRY-cat-div {
  background: #FFCE4E;
}

.ART-cat-div {
  background: #FF5A5A;
}

.MUSIC-cat-div {
  background: #2E2E2E;
}

.cat-divs:hover {
  height: 200px;
}

.cat-divs:hover p {
  margin-top: 25px;
}

.p-24 {
  font-size: 24px;
}

.product-card {
  /*width: 300px;*/
  margin-bottom: 30px;
  transition: border 2s;
  border: 1px solid transparent;
}

.product-card:hover {
  border: 1px solid #6458A2;
}

#best-selling {
  padding-top: 120px;
  padding-bottom: 140px;
}

#best-selling .details {
  background: #0B1E424D 0% 0% no-repeat padding-box;
  border: 2px solid #FFFFFF;
  visibility: hidden;
  padding-top: 45px;
  padding: 45px 18px;
  height: 230px;
}

.p-32 {
  font-size: 32px !important;
}

#best-selling .the-card:hover .details {
  visibility: visible;
  transition: all 2s;
  transition-delay: 300ms;
}

#banner-1 {
  background-color: #6458A2;
  padding-top: 50px;
  padding-bottom: 50px;
}

.btn.sign-up {
  color: white;
  padding: 13px 15px !important;
  border-radius: 4px;
  height: 47px;
  width: 151px;
  text-align: left;
  transition: background-color 2s;
}

.bg-black-custom {
  background-color: #2E2E2E;
}

.btn.sign-up:hover {
  background-color: #0B1E42 !important;
}

#recent-products {
  padding-top: 140px;
  padding-bottom: 140px;
}

#banner-2 {
  padding-top: 82px;
  padding-bottom: 82px;
  background: url("../../assets/img/pexels-kaboompics-com-6224@2x.png");
}

#overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  background-color: #0B1E42;
  opacity: 55%;
}

footer {
  padding-top: 100px;
  background-color: #0B1E42;
}

#top-header {
  height: 340px;
  background: url("../../assets/img/pexels-freestocksorg-291762@2x.png") center / cover no-repeat;
}

#store-tab {
  background-color: #D3E2FF;
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: 0px 10px 19px #00000021;
  margin-bottom: 70px;
}

#store-tab.nav-pills .nav-link {
  padding-top: 0px;
  padding-bottom: 0px;
  color: #2E2E2E;
  font-size: 16px;
  font-family: 'Roboto';
}

#store-tab.nav-pills .nav-link.active {
  background-color: transparent;
  font-weight: bold;
}

#store-pag .page-item .page-link {
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #EAEAEA;
  border: none;
  color: #0B1E42;
  margin-right: 5px;
  border-radius: 0px;
}

#store-pag .page-item.active .page-link {
  background-color: #0B1E42 !important;
  color: white;
}

#page-products {
  margin-top: 60px;
}

.breadcrumb-item a {
  color: #B2B2B2;
  margin-right: 10px;
  margin-left: 10px;
}

.breadcrumb-item.active {
  color: #000000;
}

ul#lightSlider1 {
  list-style: none outside none;
  padding-left: 0;
  margin-bottom: 0;
}

ul#lightSlider1 li {
  display: block;
  float: left;
  margin-right: 6px;
  cursor: pointer;
}

ul#lightSlider1 img {
  display: block;
  height: auto;
  max-width: 100%;
}

.lSSlideOuter .lSPager.lSGallery {
  margin-top: 35px !important;
}

#product-details-accordion {
  margin-top: 60px;
}

.p-20 {
  font-size: 20px;
}

#product-details-accordion a {
  color: #2E2E2E;
  text-decoration: none !important;
  font-weight: bold !important;
  font-size: 20px !important;
}

#product-details-accordion .card-header {
  background-color: transparent !important;
  border: none;
  border-bottom: 1px solid #0B1E42;
  padding-left: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 0px;
}

#product-details-accordion .card {
  border: none;
}

#product-details-accordion .card-body {
  padding-left: 0px;
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 45px;
}

#product-details-accordion .card-body p {
  font-size: 15px;
  color: #7E7E7E;
}

.cart-table thead tr th {
  font-size: 14px;
  color: #C1C1C1;
  font-weight: normal;
  border: none !important;
  padding-top: 17px;
  padding-bottom: 17px;
}

.cart-table tbody tr td {
  color: #000000;
  font-size: 15px;
  border: none;
  padding-top: 19px;
  padding-bottom: 19px;
  font-family: 'Roboto';
  vertical-align: middle;
}

.cart-table tbody tr {
  border: 1px solid #0B1E42;
}

.cart-table.mb-0 {
  /*min-width: 515px;*/
}

#delivery-section .form-group {
  margin-bottom: 28px;
}

#delivery-section select.form-control {
  padding-right: 30px;
}

.login-div .form-group {
  margin-bottom: 12px !important;
}

.login-div .btn.register-btn {
  background-color: #6458A2;
  height: 47px;
  color: white;
  border-radius: 4px;
}

.login-div .btn.register-btn:hover {
  background-color: #0B1E42;
}

#payment-metthod-button .labl {
  display: block;
  width: 100%;
}

.labl {
  display: block;
  width: 60px;
}

#color-button .labl {
  display: block;
  width: 43px;
  margin-right: 13px;
}

.labl > input + span {
  cursor: pointer;
  border: 1px solid #0B1E42;
  height: 35px;
  font-size: 15PX;
}

#payment-metthod-button .labl > input + span {
  cursor: pointer;
  border: 1px solid #BABABA;
  height: 118px;
  font-size: 15PX;
  transition: border 1s;
}

#color-button .labl > input + span {
  cursor: pointer;
  border: 1px solid #0B1E42;
  height: 43px;
}

.labl > input {
  visibility: hidden;
  position: absolute;
}

.labl > input:checked + span {
  background-color: #0B1E42;
  color: white;
}

#payment-metthod-button .labl > input:checked + span {
  background-color: transparent;
  border: 1px solid #6458A2;
  color: #000000;
  border-bottom: 14px solid #6458A2;
}

#color-button .labl > input:checked + span {
  background-color: #8AAEF2;
  color: white;
}

#color-button .labl > input + span > span {
  height: 25px;
  width: 25px;
  border: 1px solid #E6E6E6;
}

#add-to-cart .modal-dialog {
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
  font-size: 25px !important;
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30%;
}

.owl-carousel .owl-nav button.owl-next {
  right: 8%;
}

.owl-carousel .owl-nav button.owl-prev {
  left: 15px;
}

#page-filter .dropdown button.btn:hover {
  border: 1px solid #6458a2;
}

.navbar-light .navbar-toggler-icon {
  background-image: none;
}

@media (min-width: 768px) {
  #show-filter-div {
    position: absolute !important;
    right: 0px;
    height: 100%;
  }
}

#show-filter-div {
  position: relative;
  right: 0px;
  height: 100%;
}

#navcol-1 form input::placeholder {
  color: #0B1E42;
}

.product-card p.p-18 {
  font-weight: 600;
}

.product-card p {
  padding-left: 18px !important;
  padding-right: 18px !important;
}

.owl-carousel .item.product-card.pb-3 {
  width: 377px;
}

#single-product-owl.owl-carousel .item.product-card.pb-3 {
  width: 230px;
}

.owl-carousel .item.product-card.pb-3 img {
  width: 377px;
  height: 377px;
  object-fit: cover;
}

#single-product-owl.owl-carousel .item.product-card.pb-3 img {
  width: 230px;
  height: 230px;
  object-fit: cover;
}

#banner-2 input.form-control::placeholder {
  color: #ABABAB;
  font-family: 'Poppins';
  font-size: 13px;
}

#clothing-banner {
  height: 343px;
  background: url("../../assets/img/pexels-freestocksorg-291762@2x.png") top / cover no-repeat;
}

#product-details-accordion a h5 {
  font-weight: 700;
  color: #2E2E2E;
}

.search-tag {
  width: 121px;
  height: 37px;
  background-color: #D3E2FF;
  border: 1px solid #8AAEF2;
  padding-left: 9px;
  padding-right: 14px;
  margin-right: 10px;
}

.search-tag p {
  color: #2E2E2E;
}

